$fuente_principal : "Open Sans", serif;
$fuente_titulo : "Playfair Display", serif;

// Colores
$bg-color: #171717;
$contrast-color: #686868;
$primary-color: #fff;
$link-color: #a0a0a0;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;