$fuente_principal : "Poppins", sans-serif;
$fuente_titulo : "Heebo", sans-serif;

// Colores
$bg-color: #000;
$contrast-color: #ffffff59;
$primary-color: #fff;
$link-color: #a0a0a0;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;