@use 'base/variables' as v;
@use 'base/mixins' as m;

.main,
.desk {
    @include m.container-XL;

    @include m.tablet {
        @include m.container-XL;
    }
    
    @include m.desktop {
        @include m.container;
    }
}

.tarjeta {
    display: flex;
    gap: 5rem;
    width: 100%;
    background-color: v.$contrast-color;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px 0px;
    cursor: pointer;

    .tarjeta-img img { width: 300px; }

    .tarjeta-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2, p { margin: 0; }
    }
}

.desk {
    display: none;

    section {
        padding-bottom: 3rem;

        &:last-child {
            padding-bottom: 10rem;
        }
    }

    .list { 
        padding: 0;

        .list-content {
            padding-bottom: 3rem;

            &:last-child {
                padding-bottom: 0;
            }
        }
        
        .link-list { 
            color: v.$link-color;
            cursor: pointer;
        }
    }
}