@use 'base/variables' as v;
@use 'base/mixins' as m;

.main {
    @include m.container-XL;

    @include m.tablet {
        @include m.container-XL;
    }
    
    @include m.desktop {
        @include m.container;
    }

    .list { 
        padding: 0;
        
        .link-list { 
            color: v.$link-color;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}