@use 'base/variables' as v;
@use 'base/mixins' as m;

.main,
.desk {
    @include m.container-XL;

    @include m.tablet {
        @include m.container-XL;
    }
    
    @include m.desktop {
        @include m.container;
    }
}

.main {
    .tarjeta {
        display: flex;
        gap: 5rem;
        width: 100%;
        background-color: v.$contrast-color;
        cursor: pointer;

       .tarjeta-img img { width: 300px; }

       .tarjeta-info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2, p { margin: 0; }
       }
    }
}

.desk {
    display: none;

    .list { 
        padding: 0;

        .list-content {
            padding-bottom: 0.2rem;

            &:last-child {
                padding-bottom: 0;
            }
        }
        
        .link-list { 
            color: v.$link-color;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}